/* Main Css */
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap&subset=korean");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--secondary-color);
}

html,
body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1rem;
  background: var(--bg-dark);
  /* background: url('/img/bckg.jpg');
  background-position: center;
  background-size: cover; */
  color: #fff;
}

:root {
  --primary-color: #FFCC33;
  --secondary-color: ;
  --bg-light: #f8f8f8cc;
  --bg-dark: #1B1B1B;
  --text-light: #fff;
  --text-dark: #333;
}

a {
  text-decoration: none;
  color: var(--text-dark);
}
a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}





.rounded-btn {
  text-decoration: none;
  border: none;
  color: var(--text-light);
  background: var(--primary-color);
  padding: 6px 1rem;
  margin: 1rem 1.5rem;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: bold;
}
.btn-btn:hover {
  text-decoration: none;
  color: var(--text-dark);
}

.nav-links {
  display: flex;
  justify-content: center;
}



ul li {
  list-style: none;
  margin-top: 1rem;
}

/* Nav header */
nav li a{
  color: #fff;
  text-transform: capitalize;
  transition: all .5s ease-in-out;
  font-weight: 700;
}
nav li:hover {
  box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.6);
  color: #FFCC33;
}

/* Main section */

/* Profile */

.profile {
  margin: 5rem 0;
  cursor: pointer;
}

.greeting p {
  color: #1B1B1B;
  font-weight: 700;
  background: var(--primary-color);
  padding: 6px 1rem;
  font-size: 0.8rem;
  width: 25%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

.username h1 {
  font-weight: bold;
  margin: 1rem 0;
  transition: all 0.5s ease-in-out;
}

.job-title h5 {
  font-weight: bolder;
  text-transform: lowercase;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

ul li,
.social-link {
  line-height: 2;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}
.profile ul li:hover, .username:hover, .job-title:hover {
  color: #FFCC33;
}

.social-link a {
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.social-link a:hover {
  color: #FFCC33;
  padding: 10px;
  box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.6);
  border-radius: 50%;
}

/* profile Image */
.image {
  border: 20px solid #2b2b2b;
  border-radius: 50%;
}
.image img {
  border: 20px solid rgb(54, 54, 54);
  border-radius: 50%;
  transition: all 0.9s ease;
  opacity: 0.9;
}
.image img:hover {
  transform: rotate(-30deg);
}

.about-me {
  margin-top: 10rem;
}

.about-me h1 {
  font-weight: bolder;
  text-transform: capitalize;
  margin-bottom: 1rem;
}


.skills i {
  line-height: 3;
  padding: 10px;
  font-size: 2em;
  border-radius: 5px;
  display: inline;
  text-transform: lowercase;
  margin-right: 0.6rem;
  cursor: pointer;
  box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.6);
  transition: all .9s ease-in-outl
}

.skills i:hover {
  color: #FFCC33;
}
.skills .fa-sass {
  color: #c708c7;
}
.skills .fa-html5 {
  color: #ce4513;
}

.skills .fa-css3 {
  color: #3030a1;
}

.skills .fa-js-square {
  color: #e9a91f;
}

.skills .fa-react {
  color: #7373ee;
}

.skills .redux {
  color: #4c76ac;
  font-weight: 700;
}

.skills .fa-node-js {
  color: #0b8d8d;
}

.what-i-do {
    margin-top: 10rem;
}
.what-i-do h3 {
    font-weight: bold;
    margin: 1rem 0;
    text-transform: capitalize
}
.what-i-do h1 {
    font-weight: bolder;
    margin-bottom: 4rem;;
}
.i-card {
    box-shadow: 2px 2px 40px 4px rgba(0,0,0,0.6);
    padding: 30px 40px;
    background: #2b2b2b;
    border-radius: 3px;
}

.i-card i {
  font-size: 4em;
  color: #FFCC33;
  box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.8);
  border-radius: 50%;
  padding: 20px;
}

@media screen and (max-width: 768px) {

  .profile {
    text-align: center;
  }

  
  .harmbugger {
      position: absolute;
      cursor: pointer;
      top: 5%;
      left:  0%;
      
  }

  .line {
      width: 30px;
      height: 3px;
      background: #fff;
      margin: 5px;
  }

  .nav-links {
      position: absolute;
      background: #333;
      z-index: 2;
      height: 100vh;
      width: 50%;
      right: 0;
      top: 0;
      padding-bottom: 15rem;
      flex-direction: column;
      clip-path: circle(100px at 90% -30%);
      -webkit-clip-path: circle(100px at 95% -30%);
      transition: all 1s ease-in-out;
  }

  .nav-links a {
    color: #fff;
    text-align: center;
  }

  .nav-links.open {
      clip-path: circle(1000px at 90% -30%);
      -webkit-clip-path: circle(1000px at 95% -30%);
  }

}
